@import url("https://fonts.googleapis.com/css2?family=Purple+Purse&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

body {
  background-color: #fff3e2 !important;
}

/* Navbar style */
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15%;
}

li {
  margin: 30px;
  font-size: 12px;
  margin-top: 60px;
}

li a {
  text-decoration: none;
  color: #0c262a;
}

li a:hover {
  color: #ffe0b1;
}

/* Main style */
.container-fluid {
  max-width: 1000px;
  display: grid;
  justify-content: center;
}

h1 {
  font-family: "Purple Purse", cursive;
  font-size: 64px !important;
  color: #0c262a;
}
p {
  font-family: "Roboto", sans-serif;
}
.author {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}
img {
  max-width: 600px;
}

h2 {
  font-family: "Purple Purse", cursive;
}
h3 {
  font-family: "Purple Purse", cursive;
  font-size: 14px;
}

.blog {
  display: grid;
  justify-content: center;
}

/* column 1 style */
.blog-content {
  margin-bottom: 200px;
}
.blog-content article {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

.linkList a {
  color: #739ba4;
}
.linkList a:hover {
  color: #ffe0b1;
}

/* column 2 style */
.aboutbox {
  background: #ffe0b1;
  padding: 10px 10px;
}
.aboutSection h2,
.aboutSection p {
  text-align: center;
}

.selfie {
  border-radius: 50%;
}

.contactSection a {
  padding: 25px 25px;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
  color: #739ba4;
}
.contactSection a:hover {
  color: #ffe0b1;
}

/* footer style */
footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #739ba4;
  padding: 40px;
  display: flex;
  justify-content: center;
}

footer p {
  color: #fff3e2;
  margin: 0;
}

/* media query */
@media (min-width: 150px) and (max-width: 550px) {
  nav {
    display: flex;
    justify-content: center;
  }
  .col-4 {
    display: none;
  }
  .col-8 {
    margin-left: 80px;
  }
  .header {
    text-align: center;
  }
}
