@import url("https://fonts.googleapis.com/css2?family=Purple+Purse&family=Roboto&display=swap");

body {
  background-color: #fff3e2 !important;
}
.container {
  max-width: 1500px;
}

/* Navbar style */
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15%;
}

li {
  margin: 30px;
  font-size: 12px;
  margin-top: 60px;
}

li a {
  text-decoration: none;
  color: #0c262a;
}

li a:hover {
  color: #ffe0b1;
}

h1 {
  text-align: center;
  font-family: "Purple Purse", cursive;
  font-size: 64px !important;
  color: #0c262a;
}

/* gallery style */
.photo-gallery {
  margin: 0;
  padding: 0;
  display: grid;
  margin-bottom: 200px;
  margin-top: 100px;
}
.first-row,
.second-row,
.third-row,
.forth-row,
.fifth-row,
.sixth-row,
.seventh-row,
.eighth-row,
.ninth-row,
.tenth-row,
.eleventh-row,
.twelveth-row,
.thirteenth-row,
.fourteenth-row,
.fifteenth-row,
.sixteeth-row,
.seventh-row {
  justify-self: center;
}
.img-fluid {
  width: 250px;
  margin-bottom: 5px;
}

/* footer style */
footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #739ba4;
  display: grid;
  justify-content: center;
  padding: 40px;
}

footer p {
  color: #fff3e2;
  margin: 0;
}

/* media query */
@media (min-width: 150px) and (max-width: 550px) {
  nav {
    display: flex;
    justify-content: center;
  }
  .photo-gallery {
    display: grid;
    justify-content: center;
  }
    .img-fluid {
    width: 350px;
  }
  #image-1,
  #image-2,
  #image-3 {
    display: none;
  }
}

@media (max-width: 900px) {
  .photo-gallery {
    display: grid;
    justify-content: center;
  }
  #image-1,
  #image-2 {
    display: none;
  }
}

@media (max-width: 1400px) {
  .photo-gallery {
    display: grid;
    justify-content: center;
  }
  #image-1 {
    display: none;
  }
}
