@import url("https://fonts.googleapis.com/css2?family=Purple+Purse&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import "/style/footer.css";
@import "/style/nav.css";

body {
  background-color: #fff3e2 !important;
  font-family: "Roboto", sans-serif ;
}

/* grid system */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
  max-width: 1000px;
  margin-top: 100px;
}
.header-blog {
  grid-column: span 12;
}
.main-content {
  grid-column: span 8;
}
.about-menu {
  grid-column: span 4;
}

/* header style */
.header-blog h1 {
  font-family: "Purple Purse", cursive;
  font-size: 64px !important;
  color: #0c262a;
  display: flex;
  justify-content: start;
  margin: 0;
}
.year {
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}
.author {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
}

/* main content style */
.main-content {
  padding-right: 30px;
  margin-top: 0;
  margin-bottom: 200px;
}
.main-content p,
.main-content figure {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}
.main-content figure{
  margin-top: 40px;
  text-align: justify;
}
.main-content figure img {
  width: 550px;
}
.description {
  font-size: 13px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}
.main-content h3 {
  font-family: "Purple Purse", cursive;
  font-size: 34px;
}
.link-list a {
  color: #739ba4;
}
.link-list a:hover {
  color: #ffe0b1;
}

/* about menu style */
.about-menu h2 {
  font-family: "Purple Purse", cursive;
  font-size: 34px;
  margin-bottom: 20px;
}
.about-section {
  background: #ffe0b1;
  padding: 10px 10px;
  margin-top: 20px;
}
.about-section h2,
.about-section p {
  text-align: center;
}
.selfie {
  border-radius: 50%;
  width: 300px;
  display: block;
  margin: auto;
}
.about-paragraph {
  margin-top: 20px;
}

.contact-section a {
  padding: 25px 25px;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
  color: #739ba4;
}
.contact-section a:hover {
  color: #ffe0b1;
}
.subscription {
  margin-bottom: 200px;
}
.subscription input {
  font-family: "Montserrat", sans-serif;
  padding: 10px 15px;
  width: 300px;
  border: 1px solid tan;
}

.subscription a {
  padding: 8px 13px;
  border-radius: 20px;
  background-color: #739ba4;
  border: none;
  box-shadow: 2px 2px 3px #0c262a;
  margin-bottom: 200px;
  text-decoration: none;
  color: #0c262a;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

}
.subscription a:hover {
  color: #ffe0b1;
}

/* message file style */
.container-message {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 230px;
}
.container-message h3 {
  font-size: 50px;
  margin-bottom: 0;
  font-family: "Purple Purse", cursive;
}
.container-message p {
  font-family: "Montserrat", sans-serif !important;
}
.container-message a {
  padding: 8px 13px;
  border-radius: 20px;
  background-color: #739ba4;
  border: none;
  box-shadow: 2px 2px 3px #0c262a;
  text-decoration: none;
  color: #0c262a;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.container-message a:hover {
  color: #ffe0b1;
}

/* media query */
@media(min-width: 280px) and (max-width:450px){
  nav {
    display: flex;
    justify-content: center;
  }
  .about-menu {
    display: none;
  }
  .header-blog {
    text-align: center;
  }
  .header-blog h1 {
    font-size: 40px !important;
    display: flex;
    justify-content: center;
  }
  .main-content {
    padding: 0;
    text-align: justify;
    display: grid;
    justify-self: stretch;
    margin: 20px;
    margin-top: 0 !important;
  }
  .main-content figure img {
    width: 250px;
  }
  .link-list {
    text-align: center;
  }
}
@media(width: 500px){
  nav {
    display: flex;
    justify-content: center;
  }
  .about-menu {
    display: none;
  }
  .header-blog {
    text-align: center;
  }
  .header-blog h1 {
    font-size: 60px !important;
    display: flex;
    justify-content: center;
  }
  .main-content {
    padding: 0;
    text-align: justify;
    display: grid;
    justify-self: stretch;
    margin: 70px;
    margin-top: 0 !important;
  }
  .main-content figure img {
    width: 250px;
  }
  .link-list {
    text-align: center;
  }
}
@media(min-width:502px) and (max-width:600px){
   nav {
    display: flex;
    justify-content: center;
    margin-left: 50px;
  }
  .about-menu {
    display: none;
  }
  .header-blog {
    text-align: center;
  }
  .header-blog h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
  }
  .main-content {
    padding: 0;
    text-align: justify;
    display: grid;
    justify-self: stretch;
    margin: 60px;
    margin-top: 0;
  }
  .main-content figure img {
    width: 350px;
  }
  .link-list {
    text-align: center;
  }
}
@media(min-width:580px) and (max-width:800px){
   nav {
    display: flex;
    justify-content: center;
    margin-left: 50px;
  }
  .about-menu {
    display: none;
  }
  .header-blog {
    text-align: center;
  }
  .header-blog h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
  }
  .main-content {
    padding: 0;
    text-align: justify;
    display: grid;
    justify-self: stretch;
    margin: 150px;
    margin-top: 0 !important;
  }
  .main-content figure img {
    width: 350px;
  }
  .link-list {
    text-align: center;
  }
}

@media(min-width:780px) and (max-width:900px){
   nav {
    display: flex;
    justify-content: center;
    margin-left: 50px;
  }
  .about-menu {
    display: none;
  }
  .header-blog {
    text-align: center;
  }
  .header-blog h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
  }
  .main-content {
    padding: 0;
    text-align: justify;
    display: grid;
    justify-self: stretch;
    margin: 220px;
    margin-top: 0 !important;
  }
  .main-content figure img {
    width: 350px;
  }
  .link-list {
    text-align: center;
  }
}