@import url("https://fonts.googleapis.com/css2?family=Purple+Purse&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

body {
  background-color: #fff3e2 !important;
}

/* Navbar style */
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15%;
}

li {
  margin: 30px;
  font-size: 12px;
  margin-top: 60px;
}

li a {
  text-decoration: none;
  color: #0c262a;
}

li a:hover {
  color: #ffe0b1;
}

/* Main style */
.container-fluid {
  max-width: 1000px;
  display: grid;
  justify-content: center;
}

h1 {
  font-family: "Purple Purse", cursive;
  font-size: 64px !important;
  color: #0c262a;
}
p {
  font-family: "Roboto", sans-serif;
}
.author {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Purple Purse", cursive;
}
h3 {
  font-family: "Purple Purse", cursive;
  font-size: 14px;
}
.blog {
  display: grid;
  justify-content: center;
}

/* column 1 style */
.blog-content {
  margin-bottom: 200px;
}
img {
  max-width: 600px;
}
.blog-content p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}
.description {
  font-size: 13px;
  text-align: center;
}
.link-list a {
  color: #739ba4;
}
.link-list a:hover {
  color: #ffe0b1;
}

/* column 2 style */
.about-box {
  background: #ffe0b1;
  padding: 10px 10px;
}
.about-section h2,
.about-section p {
  text-align: center;
}
.selfie {
  border-radius: 50%;
}
.contact-section a {
  padding: 25px 25px;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
  color: #739ba4;
}
.contact-section a:hover {
  color: #ffe0b1;
}
.subscription {
  margin-bottom: 200px;
}
.subscription input {
    font-family: "Montserrat", sans-serif;
}
.subscription a {
  padding: 8px 13px;
  border-radius: 20px;
  background-color: #739ba4;
  border: none;
  box-shadow: 2px 2px 3px #0c262a;
  text-decoration: none;
  color: #0c262a;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 90px !important;

}
.subscription a:hover {
  color: #ffe0b1;
}
.container-message {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 200px;
}
.container-message h3 {
    font-size: 50px;
}
.container-message p {
    font-family: "Montserrat", sans-serif;
}
.container-message button {
  padding: 8px 13px;
  border-radius: 20px;
  background-color: #739ba4;
  border: none;
  box-shadow: 2px 2px 3px #0c262a;
}
.container-message button a {
  text-decoration: none;
  color: #0c262a;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.container-message button a:hover {
  color: #ffe0b1;
}

/* footer style */
footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #739ba4;
  padding: 40px;
  display: flex;
  justify-content: center;
}

footer p {
  color: #fff3e2;
  margin: 0;
}

/* media query */
@media (min-width: 150px) and (max-width: 550px) {
  nav {
    display: flex;
    justify-content: center;
  }
  .col-4 {
    display: none;
  }
  .col-8 {
    margin-left: 80px;
  }
  .header {
    text-align: center;
  }
}
