
/* footer style */
footer {
  font-size: 12px;
  background-color: var(--secondary-color);
  padding: 40px;
  display: flex;
  justify-content: center;
}
footer p {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  margin: 0;
}