@import url("https://fonts.googleapis.com/css2?family=Purple+Purse&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "nav.css";
@import "blog.css";
@import "image.css";
@import "footer.css";

:root {
  --primary-color: #FFF5E7;
  --secondary-color: #0D4B59;
  --third-color: #443E3E;
  --forth-color: #ffe0b1;
  --fifth-color:#e7d1c0;
  --sixth-color:#739BA4;
  --nav-color: #B78C66;

}

body {
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif ;
  color: var(--third-color);
  padding: 0;
  margin: 0;
}

/* main style */
.container {
  display: grid;
  justify-content: center;
  margin-bottom: 200px;
}
.header {
  margin-top: 200px;
}
.header h1 {
  text-align: center;
  font-family: "Purple Purse", cursive;
  font-size: 64px;
  color: var(--secondary-color);
  margin-bottom: 0;
}
p.sub-header {
  text-align: center;
  font-family: "Raleway", sans-serif !important;
  margin-top: 0;
}

/* box style */
.row-1,
.row-2 {
  display: flex;
}
.box {
  background-color: var(--fifth-color);
  padding: 30px 20px;
  margin: 10px;
  box-shadow: 5px 5px 8px var(--third-color);
  margin-top: 30px;
  width: 400px;
}
.image {
  width: 300px;
  margin: auto;
  padding: 0;
  display: block;
}
.details {
  padding: 10px;
  text-align: center;
}
.box h2 {
  font-size: 30px;
  font-family: "Purple Purse", cursive;
  margin: 0;
}
.box h3 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.box p {
  font-family: "Montserrat", sans-serif !important;
}
.box a  {
  padding: 8px 13px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 2px 2px 3px var(--third-color);
  text-decoration: none;
  color: var(--forth-color);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.box a:hover {
  color: var(--forth-color);
  background-color: var(--sixth-color);
}

/* media query */
@media (max-width: 996px) {
  .box {
    width: 350px;
  }
}
@media (max-width: 854px) {
  .row-1,
  .row-2 {
    display: block;
  }
}
@media (max-width: 425px) {
  .box {
    width: 300px;
  }
}
@media(max-width: 320px) {
  .header h1 {
    font-size: 55px;
  }
  img {
    width: 250px;
  }
  .box {
    width: 250px;
  }
}