@import url("https://fonts.googleapis.com/css2?family=Purple+Purse&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "/style/footer.css";
@import "/style/nav.css";

:root {
  --primary-color: #fff3e2;
  --secondary-color: #739ba4;
  --third-color: #0c262a;
  --forth-color: #ffe0b1;
  --fifith-color:#e7d1c0;
}

body {
  background-color: var(--primary-color) !important;
  font-family: "Roboto", sans-serif ;
}

/* main style */
.container {
  display: grid;
  justify-content: center;
  margin-bottom: 200px;
}
.header {
  margin-top: 100px;
}
.header h1 {
  text-align: center;
  font-family: "Purple Purse", cursive;
  font-size: 64px;
  color: var(--third-color);
  margin-bottom: 0;
}
p.sub-header {
  text-align: center;
  font-family: "Raleway", sans-serif !important;
  margin-top: 0;
}

/* box style */
.box {
  background-color: var(--fifith-color);
  padding: 30px 20px;
  margin: 20px 20px;
  box-shadow: 5px 5px 8px var(--third-color);
  margin-top: 30px;
}
.box h2 {
  font-size: 30px;
  font-family: "Purple Purse", cursive;
  margin: 0;
}
.box h3 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.box p {
  font-family: "Montserrat", sans-serif !important;
}
.box a  {
  padding: 8px 13px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 2px 2px 3px var(--third-color);
  text-decoration: none;
  color: var(--third-color);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.box a:hover {
  color: var(--forth-color);
}

/* media query */
@media (min-width: 150px) and (max-width: 550px) {
  nav {
    display: flex;
    justify-content: center;
  }
  .header h1 {
    text-align: center;
    font-size: 50px;
  }
}
@media(min-width:600px) and (max-width:800px) {
    nav {
    display: flex;
    justify-content: center;
  }
}
@media (min-width:1000px) and (max-width: 1400px) {
  nav {
    display: flex;
    justify-content: center;
    padding-left: 100px;
  }
}