
/* navbar style */
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15%;
}

li {
  margin: 30px;
  font-size: 12px;
  margin-top: 60px;
}

li a {
  text-decoration: none;
  color: var(--nav-color);
}

li a:hover {
  color: var(--forth-color);
}